body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.close {
  display: none;
}

.header-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  min-height: 4.375em;

  background-color: white;
  z-index: 9;
}
header {
  padding-top: 10px;
}

header ul {
  margin: 0;
  padding: 0;
}
header li {
  cursor: pointer;
  display: inline;
  color: gray;
  padding: 10px;
  z-index: 9;
}

#home:hover {
  border-bottom: solid rgb(26, 211, 149);
}

#about:hover {
  border-bottom: solid rgb(26, 211, 149);
}

#contact:hover {
  border-bottom: solid rgb(26, 211, 149);
}

#blog:hover {
  border-bottom: solid rgb(26, 211, 149);
}

#careers:hover {
  border-bottom: solid rgb(26, 211, 149);
}
header li:hover {
  color: black;
}

header #logo-header {
  padding-top: 18px;
  float: left;
}

header nav {
  display: flex;
  padding-top: 18px;
  justify-self: center;
  margin-right: 100px;
  margin-left: 550px;
}

.req-btn {
  cursor: pointer;
  float: right;
  border-radius: 2.5em;
  font-size: 1.25em;
  padding: 0.675em 1.875em;
  color: white;
  background-image: linear-gradient(to right, #2fce67, #2cb9cb);
  border: none;
}
.section1 {
  padding: 10px;
  height: 42em;
  background: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 64%;
  background-position: 150% 100%;
  position: relative;
  overflow: hidden;
}

.section1 img {
  position: absolute;
  width: 35%;
  top: -70px;
  right: -70px;
}

.section1 #s-t1 {
  margin: 0;
  width: 30%;
  color: hsl(233, 26%, 24%);
  font-size: 360%;
  padding-top: 94px;
  padding-left: 149px;
  margin-top: 10px;
  margin-left: 10px;
}

.section1 #s-t2 {
  width: 27%;
  color: hsl(233, 8%, 62%);
  padding-top: 36px;
  padding-left: 149px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.25em;
}

.req-btn2 {
  cursor: pointer;
  /* float: right; */
  border-radius: 27px;
  font-size: 23px;
  padding: 10px 28px;
  color: white;
  margin-left: 150px;
  margin-top: 33px;
  background-image: linear-gradient(to right, #2fce67, #2cb9cb);
  border: none;
}

.section2 {
  margin-top: -40px;
  width: 100%;
  padding-bottom: 8%;
  background-color: #f4f5f7;
  z-index: -2;
}

.s2-t1 {
  margin-left: 155px;
  padding-top: 123px;
  font-weight: lighter;
  font-size: 40px;
  border: none;
  color: #3d4258;
}

.s2-t2 {
  width: 36%;
  margin-left: 155px;
  margin-top: 37px;
  margin-bottom: 5em;
  border: none;
  font-weight: lighter;
  font-size: 20px;
  color: gray;
}

#cards1 {
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  margin-top: 21px;
  margin-left: 6.5%;
}

#cards1 .card {
  width: 20%;
  padding: 10px;
  align-items: flex-start;
}

.card-text1 {
  padding-top: 12%;
  font-size: 26px;
  border: none;
  color: #3d4258;
  font-weight: lighter;
}

.card-text2 {
  padding-top: 12%;
  font-size: 21px;
  border: none;
  color: gray;
  font-weight: lighter;
}

.section3 {
  margin: 0;
  background-color: white;
}

.section-main-line {
  font-weight: lighter;
  font-size: 40px;
  color: #3d4258;
  margin-left: 8%;
  padding-top: 5%;
  border: none;
}

#card2 {
  display: flex;
  margin-top: 52px;
  margin-left: 6%;

  justify-content: space-around;
  padding-bottom: 9%;
  margin-right: 5%;
}

#card2 .card-container img {
  width: 100%;
  margin: auto;
  height: 42%;
}

.s2-card-text1 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 8%;
  font-weight: lighter;
  font-size: 15px;
  border: none;
  color: gray;
}

.s2-card-text2 {
  cursor: pointer;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  font-weight: lighter;
  font-size: 25px;
  border: none;
  color: #3d4258;
}

.s2-card-text2:hover {
  color: rgb(26, 211, 149);
}

#card2 .card-container {
  width: 20%;
  text-align: start;
  background-color: #f4f5f7;
  float: left;
}

.s2-card-text3 {
  padding-left: 8%;
  padding-right: 8%;
  width: 90%;
  padding-top: 5%;
  font-weight: lighter;
  font-size: 18px;
  border: none;
  color: gray;
  margin-bottom: 10%;
}

/* handling failures */

#cards1 .card img {
  padding-left: 1px;
}

/* footer */
footer {
  min-height: 190px;
  background: hsl(233, 26%, 24%);
  color: hsl(220, 16%, 96%);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.footerss {
  margin-left: 100px;
}

#bottom-logo {
  width: 112%;
  margin-left: -2.5%;
  padding-bottom: 35%;
  filter: brightness(100);
}
.social-media-icons {
  display: flex;
  justify-content: space-between;
}

.social-media-icons svg :hover {
  fill: rgb(26, 211, 149);
  transition: 0.4s;
}

.contact {
  display: flex;
  flex-direction: column;
}
.contact a {
  color: hsl(220, 16%, 96%);
  text-decoration: none;
}
.contact div {
  padding: 10px;
}

.contact a:hover {
  color: rgb(54, 230, 171);
  transition: 0.4s;
}

#second-contact {
  margin-right: 10%;
}

#copyright-container {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

#copyright-container button {
  align-self: flex-end;
}

#copyright {
  margin-top: 20%;
}

.button-footer {
  border-radius: 40px;
  font-size: 20px;
  padding: 8px 30px;
  color: white;
  float: right;
  background-image: linear-gradient(to right, #2fce67, #2cb9cb);
  border: none;
  height: 50px;
}

.hamburger {
  display: none;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  body {
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    float: none;
    text-align: center;
    width: 100%;
  }

  .header-container {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  header ul {
    margin: 0;
    padding: 0;
    background-color: white;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 14%;
    left: 8%;
    z-index: 9;
    width: 80%;
    height: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    box-shadow: 0 0 20px black;
  }

  header ul.active {
    display: flex;
  }

  header li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    display: inline;
    color: black;
    width: 100%;
  }

  .req-btn {
    display: none;
  }

  header #header-logo {
    padding-top: 20px;
    float: left;
  }

  .hamburger {
    display: block;
    float: right;
    padding-top: 6%;
  }
  .close {
    display: block;
    float: right;
    padding-top: 6%;
   
  }
  .header-container {
    margin: 0%;
    padding-left: 4%;
    margin-right: 0%;
    width: 88%;
  }

  .hamburger img {
    width: 155%;
  }

  header #header-logo img {
    margin-left: 2em;
    padding-bottom: 20%;
  }

  /* .section1 #section1-image {
    /* height: 45%; */

    /* margin: auto;
    position: absolute;
    width: 100%;
    height: 58%;
    /* padding-right: 18%; */ */
  /* } */ */
  .section1 #section1-image{
    display:none;
  }
  .section1 img{
    display:none;
  }

  .none {
    display: none;
  }
  
  .setting2 {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image:url('./images/image-mockups.png'),url('./images/bg-intro-mobile.svg');
    background-repeat:no-repeat,no-repeat;
    background-size:96%,100%;;
    background-position:100% -150px,100% 0;
    height: 45%;
  }
  .setting1 {
   
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image:url('./images/bg-intro-mobile.svg');
    background-repeat:no-repeat;
    background-size:100%;;
    background-position:100% 0;
    height: 45%;
}

  .section1 #s-t1 {
    width: 75%;
    font-size: 2rem;
    color: hsl(233, 26%, 24%);
    padding-top: 20px;
    margin-top: 100%;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }

  .section1 #s-t2 {
    width: 75%;
    padding-top: 10%;
    color: hsl(233, 8%, 62%);
    margin: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .req-btn2 {
    align-items: center;
    margin-top: 10%;
    margin-bottom: 90px;
    margin-left: 0;
  }

  .s2-t1 {
    color: #3d4258;
    margin: 0%;
    width: 55%;
    padding-bottom: 5%;
    padding-left: 24%;
    font-size: lighter;
    font-size: 30px;
    border: none;
  }

  .s2-t2 {
    color: #3d4258;
    margin: 0%;
    width: 75%;
    padding-bottom: 5%;
    padding-left: 12%;
    font-size: lighter;
    font-size: 15px;
    border: none;
    color: gray;
  }

  #cards1 {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  #cards1 .card {
    float: none;
    width: 20%;
    padding-left: 10%;
    text-align: center;
    width: 80%;
  }
  .card-text1 {
    padding-top: 10%;
    font-weight: lighter;
    font-size: 25px;
    border: none;
    color: #3d4258;
  }

  .card-text2 {
    padding-top: 10%;
    font-weight: lighter;
    font-size: 17px;
    border: none;
    color: gray;
    padding-bottom: 10%;
  }
  .section-main-line {
    padding-right: 9%;
    padding-top: 15%;
    padding-bottom: 15%;
  }

  #card2 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 2%;
    margin: 0;
  }

  #card2 .card-container {
    /* justify-content:center;
    align-items:center; */
    padding: 0;
    width: 92%;
  }

  .s2-card-text1 {
    font-size: 12px;
  }

  .s2-card-text2 {
    font-size: 20px;
  }

  .s2-card-text3 {
    font-size: 15px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #bottom-logo {
    margin-right: 50px;
    padding-bottom: 12%;
  }
  .footerss {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 7%;
  }
  .social-media-icons {
    width: 100%;
  }
  #second-contact {
    margin-left: 12%;
    padding-bottom: 20%;
  }

  #copyright {
    margin-top: 20%;
    font-size: 14px;
    margin-left: 20px;
  }
}
